:root {
  --branding-color: #904f9f;
  --secondary-color: #212121;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
  background: var(--secondary-color);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: antiquewhite;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 64px;
}
p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
.second {
  color: antiquewhite;
}

.topper {
  color: antiquewhite;
  text-decoration: underline;
  font-size: 20px;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 100px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: antiquewhite;
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
}

.content-container {
  padding: 60px 20px;
  color: antiquewhite;
}

.content-container h1 {
  font-size: 64px;
  line-height: 80px;
  font-family: var(--heading-font-family);
}

.content-container h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content-container h3 {
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--default-font-family);
}

.content-container a {
  color: antiquewhite;
  text-decoration: none;
}

.content-container p {
  font-size: 18px;
}

.content {
  margin: 30px;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 50px;
  color: antiquewhite;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  border: 2px solid var(--branding-color);
  border-radius: 50px;
  color: var(--branding-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  transition: all 100ms ease-in-out;
}

.btn-branding-outline:hover {
  background: antiquewhite;
}

.product-description {
  padding: 120px 60px;
}

.contact-link a {
  color: gray;
  transition: all 100ms ease-in-out;
}

.contact-link a:hover {
  color: var(--branding-color);
}

footer {
  margin: 50px 0;
}

footer .contact-box {
  padding: 30px 120px;
}

footer .contact-box p {
  margin: 0;
}

footer .contact-box h4 {
  font-size: 40px;
}

footer .social-links a {
  margin: 0 20px;
  padding: 10px 14px;
  font-size: 18px;
  color: var(--branding-color);
  background-color: antiquewhite;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  background-color: var(--branding-color);
  color: antiquewhite;
}

footer .email-link {
  font-size: 20px;
  color: antiquewhite;
}

footer .email-link:hover {
  color: var(--branding-color);
  transition: all 100ms ease-in-out;
}

.logo {
  max-height: 42px;
  margin-left: 15px;
}

.self-img {
  max-width: 500px;
}

nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  color: antiquewhite;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
  margin-right: 15px;
}

nav a {
  text-decoration: none;
  color: antiquewhite;
}

nav a:hover {
  color: var(--branding-color);
  text-decoration: none;
  transition: all 100ms ease-in-out;
}

nav li.active a {
  color: var(--branding-color);
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 1.5;
  }

  h2 {
    font-size: 44px;
  }

  h4 {
    font-size: 18px;
  }

  .hero {
    padding: 80px 20px;
    line-height: 2;
  }

  .content-container {
    padding: 0;
    text-align: center;
  }

  .product-description {
    padding: 0;
    text-align: center;
  }

  footer .contact-box {
    padding: 30px;
  }
}
